.page.theme_dark {
  --title-color: #000028;
  --headline-color: #DB00FF;
  --text-color: rgba(241, 178, 206, 1);
  --background-color: rgba(255, 0, 112, 1);
  --backgroud-image: url('../images/cover-image-dark.png');
  --display-rec: block;
}
