.page.theme_light {
  --title-color: #353430;
  --headline-color: #FFC2E6;
  --title-text-color: #353430;
  --text-color: #353430;
  --background-color: #FF8DCB;
  --backgroud-image: url('../images/cover-image-light.png');
  --display-rec: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --title-color: #353430;
    --headline-color: #FFC2E6;
    --title-text-color: #353430;
    --text-color: #353430;
    --background-color: #FF8DCB;
    --backgroud-image: url('../images/cover-image-light.png');
  }
  .header__rec {
    display: none;
  }
}
